@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;700&display=swap");

/* Font style */
* {
  font-family: "Sarabun", sans-serif;
}

/* Loading */
.progress {
  opacity: 0;
  background-color: #eeeeee;
}
.progress.show {
  opacity: 1;
}
.progress .indeterminate {
  background-color: #bdbdbd;
}
